<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Inventario - Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header class="header">
        <h1>Proyecto Inventario</h1>
    </header>

    <main class="hub-container">
        <a href="/productos" class="hub-card">
            <p>PRODUCTOS</p>
            <span>Gestionar productos</span>
        </a>

        <a href="/almacenes" class="hub-card">
            <p>ALMACENES</p>
            <span>Gestionar almacenes</span>
        </a>

        <a href="/inventario" class="hub-card">
            <p>INVENTARIO</p>
            <span>Ver inventario</span>
        </a>
    </main>

</body>

</html>